.nav-li a{
  text-decoration: none;
  display: block;
}


.nav-li {
  display: inline-block;
  text-transform: uppercase;
}

.nav-ul{
  position: relative;
  list-style: none;
  display: inline;
  float: right;
}
