.nav-li a{
  text-decoration: none;
  display: block;
}

#nameLink {
    color:black;
    padding:50px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
}


.nav-li {
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
}

.nav-li:hover {
    font-size: 20px;
    text-decoration: underline;
}

.nav-li:active {
    text-decoration: underline;
}

.nav-ul{
  position: absolute;
  list-style: none;
  display: inline-block;
  right: 5%;
}
